.box {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  >h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
  }
}

