@use '../../../styles/utils.scss';
@use '../../../styles/views.scss';

.productPage {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 20px 0;
}

.title {
  font-size: 32px;
  color: var(--color-black);
  text-align: center;
  line-height: 44.8px;

  @include views.desktop {
    font-size: 48px;
    line-height: 48px;
  }
}

.subtitle {
  font-size: 16px;
  text-align: center;

  @include views.desktop {
    font-size: 24px;
    line-height: 24px;
  }
}

.steps {
  display: flex;
  width: 100%;

  >div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    color: var(--color-black);

    @include views.desktop {
      flex-direction: row;
      gap: 20px;
      font-size: 20px;
    }

    &.active>span {
      font-weight: 700;
    }

    .circle {
      color: var(--color-blue-400);
      border: 1px solid var(--color-blue-400);

      @include views.noDesktop {
        @include utils.circle(20px);
        font-size: 14px;
      }

      @include views.desktop {
        @include utils.circle(40px);
        font-size: 20px;
      }

      &.completed {
        background-color: var(--color-green-400);
        color: var(--color-white);
        border: none;
      }

      &.current {
        background-color: var(--color-blue-400);
        color: var(--color-white);
        border: none;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include views.desktop {
    background-color: var(--color-gray-50);
    border-radius: var(--config-border-radius);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;

    .left {
      grid-column: 1/1;
      grid-row: 1/9;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .left {
    >img {
      border-radius: var(--config-border-radius);
    }

    .comments {
      display: none;

      @include views.desktop {
        display: block;
      }
    }
  }
}

.specialPrice {
  font-size: 24px;
  color: var(--color-black);
  line-height: 33.6px;
  text-align: center;
  text-transform: capitalize;

  @include views.desktop {
    font-size: 32px;
    line-height: 44.8px;
  }

  >i {
    color: var(--color-blue-400);
  }
}

.product {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 50px;
  position: relative;

  @include views.desktop {
    margin-bottom: 0;
  }

  .image {
    background-color: var(--color-blue-400);
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    height: 80px;

    @include views.desktop {
      height: 134px;
    }
  }

  .details {
    flex: 1;
    height: 58px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include views.desktop {
      height: 100%;
      font-size: 16px;
      line-height: 21.8px;
    }

    >div:first-of-type {
      display: flex;
      justify-content: space-between;
    }

    .name {
      font-size: 14px;
      color: var(--color-black);

      @include views.desktop {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .prices {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;

      .oldPrice {
        text-decoration: line-through;
        color: var(--color-gray-500);
      }

      .price {
        font-size: 14px;
        color: var(--color-blue-400);

        @include views.desktop {
          font-size: 22px;
          line-height: 30.8px;
        }
      }
    }

    .stars {
      display: flex;
      gap: 4px;

      >img {
        @include views.desktop {
          width: 18px !important;
          height: 18px !important;
        }
      }
    }

    .stock {
      display: flex;
      align-items: center;
      gap: 16px;

      .checkbox {
        @include utils.circle(12px);
        background-color: var(--color-cyan-100);

        >div {
          @include utils.circle(6px);
          background-color: var(--color-blue-400);
        }
      }
    }


    .shortDescription {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;
      text-align: center;

      @include views.desktop {
        position: static;
      }
    }
  }
}

.description {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include views.desktop {
    font-size: 16px;
  }

  >div {
    display: flex;
    align-items: center;
    gap: 12px;

    >img {
      @include views.desktop {
        width: 22px !important;
        height: 22px !important;
      }
    }
  }
}

.discount {
  background-color: var(--color-cyan-100);
  padding: 10px 16px;
  border-radius: var(--config-border-radius);
  color: var(--color-black);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;

  @include views.desktop {
    font-size: 16px;
  }

  .circle {
    @include utils.circle(24px);
    background-color: var(--color-blue-400);
    color: var(--color-white);
  }

  >span>i {
    color: var(--color-blue-400);
  }
}

.claimDiscount {
  color: var(--color-white);
  background-color: var(--color-green-400);
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;

  @include views.desktop {
    font-size: 20px;
  }
}

.payments {
  height: min-content;
  border: 1px solid var(--color-gray-350);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;


  @include views.desktop {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
  }

  hr {
    color: var(--color-gray-350);

    @include views.desktop {
      display: none;
    }
  }

  .separator {
    display: none;

    @include views.desktop {
      display: block;
    }
  }

  .desc {
    display: flex;
    justify-content: center;
    gap: 12px;

    .secure {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .payOptions {
    display: flex;
    justify-content: center;
    gap: 2px;
  }
}

.cancel {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--color-red-300);
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: underline;

  @include views.desktop {
    font-size: 18px;
  }
}

.guarantee {
  font-size: 12px;
  display: flex;
  gap: 16px;
  align-items: flex-start;

  >img {
    width: 48px;
  }

  @include views.desktop {
    >img {
      width: 88px;
    }

    font-size: 16px;
  }
}