@use './views.scss';

@mixin HiddenScroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none; /* IE and Edge */
}

@mixin circle($size: 20px) {
  border-radius: 50%;
  min-width: $size;
  min-height: $size;
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fontPixelToEm($size: 16) {
  $sizeMobile: $size / 16;
  font-size: unquote($sizeMobile + 'em');
  line-height: unquote(($sizeMobile * 1.4) + 'em');

  @include views.desktop {
    $sizeDesktop: ($size) / 16;
    font-size: unquote($sizeDesktop + 'em');
    line-height: unquote(($sizeDesktop * 1.4) + 'em');
  }
}