:root {
  /* colors */
  --color-white: #ffffff;

  --color-gray-50: #fafafa;
  --color-gray-100: #f8f8f8;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #d5d5d5;
  --color-gray-350: #cfcfcf;
  --color-gray-400: #b1b1b1;
  --color-gray-500: #969696;
  --color-gray-600: #6d6d6d;
  --color-gray-700: #464646;
  --color-gray-800: #222222;
  --color-gray-900: #151515;

  --color-black: #000000;

  --color-cyan-100: #EDF3FD;

  --color-blue-400: #2C7EF8;

  --color-red-300: #F82C2C;

  --color-green-300: #5BB59A;
  --color-green-400: #59AE43;

  --color-blue-gray: #252F3D;



  /* font variables */
  --font-color: #4D5254;
  --placeholder-font-color: var(--color-gray-400);
  --error-font-color: var(--color-red-800);

  /* config variables */
  --config-border-radius: 10px;
  --config-header-height: 62px;
  --config-header-slider-height: 40px;
  --config-content-margin: 5%;

  /* z indexs */
  --z-header: 1;
}

@media screen and (min-width: 1025px) {
  :root {
    --config-content-margin: 8%;
    --config-header-height: 96px;
    --config-header-slider-height: 50px;

    --z-header: 2;
  }
}